*{
    padding: 0;
    margin: 0;
}


.social-media-links li a :hover  {
    
    background-color: white !important;
    color: #2E8B57 !important;
    border-radius: 10%;
}

nav .hover-me:hover{
    background-color: rgba(43, 198, 184,0.9);
    
}
nav .hover-me:hover .nav-link{
    
    color: white !important;
}


.main{
    /* background: url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    /* background: url("https://images.unsplash.com/photo-1416331108676-a22ccb276e35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80"); */
    background: url("https://images.unsplash.com/photo-1576599584512-8f326515ab59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-repeat: no-repeat;
    background-size: 100%  100%;
    background-position: center;
    width: 100%;
    height: 500px;
    
    
    
}


.hearderset {
    padding-top: 430px;
    box-sizing: border-box;
}

.hearderset h2{
    font-size: 40px;
    font-weight: 400;
    font-family: Arial;
}

.map{
    width: 100%; 
    height: 550px; 
}
@media screen and (max-width:1200px){
    .main{
        background-position: center;
        width:100%;
        height: 450px;
    }
    .hearderset {
        padding-top: 380px;
    }
  
    .map{
        width: 100%; 
        height: 500px;
    }
    .hearderset h2{
        font-size: 38px;
        
    }
    h2{
        font-size: 30px;
    }
    h3 {
        font-size: 28px;
    }
    h5{
        font-size: 19px;
    }
    p , li{
        font-size: 15px;
    }
    
}


 @media screen and (max-width:1024px){
    .main{
        background-position: center;
        width:100%;
        height: 400px;
    }
    .hearderset {
        padding-top: 330px;
    }
    
    .map{
        width: 100%; 
        height: 450px;
    }
    .hearderset h2{
        font-size: 36px;
        
    }
    h2{
        font-size: 28px;
    }
    h3 {
        font-size: 26px;
    }
    h5{
        font-size: 18px;
    }
    p , li{
        font-size: 15px;
    }
    

} 
@media screen and (max-width:900px){
    .main{
        background-position: center;
        width:100%;
        height: 350px;
    }
    .hearderset {
        padding-top: 280px;
    }
   
    .map{
        width: 100%; 
        height: 400px;
        
    }
    .hearderset h2{
        font-size: 34px;
        
    }
    h2{
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    h5{
        font-size: 17px;
    }
    p , li{
        font-size: 14px;
    }
   
}

 @media screen and (max-width:768px){
    .main{
        background-position: center;
        width:100%;
        height: 300px;
    }
    .hearderset {
        padding-top: 230px;
        
    }
   
    .map{
        width: 100%; 
        height: 350px;
    }
    .hearderset h2{
        font-size: 32px;
        
    }
    h2{
        font-size: 24px;
    }
    h3 {
        font-size: 22px;
    }
    h5{
        font-size: 16px;
    }
    p , li{
        font-size: 14px;
    }
    

} 
@media screen and (max-width:600px){
    .main{
        background-position: center;
        width:100%;
        height: 250px;
    }
    .hearderset {
        padding-top: 180px;
        
    }
    .map{
        width: 100%; 
        height: 300px;
    }
    .hearderset h2{
        font-size: 30px;
        
    }
    h2{
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h5{
        font-size: 15px;
    }
    p , li{
        font-size: 13px;
    }
   
}
/* /////////////////// */
@media screen and (max-width:480px){
    .main{
        background-position: center;
        width:100%;
        height: 200px;
    }
    .hearderset {
        padding-top: 130px;
        
    }
    .map{
        width: 100%; 
        height: 250px;
    }
    .hearderset h2{
        font-size: 28px;
        
    }
    h2{
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h5{
        font-size: 14px;
    }
    p , li{
        font-size: 13px;
    }
   
}
@media screen and (max-width:320px){
    .main{
        background-position: center;
        width:100%;
        height: 150px;
    }
    .hearderset {
        padding-top: 80px;
        
    }
    .map{
        width: 100%; 
        height: 200px;
    }
    .hearderset h2{
        font-size: 26px;
        
    }
    h2{
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h5{
        font-size: 13px;
    }
    p , li{
        font-size: 12px;
    }    
    
}

